
body{
    display: grid;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "footer";
    grid-template-rows: auto auto 1fr auto; /* Adjust row sizes as needed */
}

.searchTitle{
    text-align: center;
}


.searchResults{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr)); /*responsiveness*/
    background-color: bisque;
}



