
  
  body {
    display: grid;
    grid-template-areas:
      "header"
      "navbar"
      "section"
      "main"
      "footer";
    grid-template-rows: auto auto auto 1fr auto; /* Adjust row sizes as needed */
  }


/*section related*/

.salesType{
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
  
  button{
    transition: 0.4s;
    padding: 0.5rem;
    flex: 1;
    font-size: 16px;
    background-color: #eae3e4;
    border: none;
  }
  
  button:hover{
    transition: 0.4s;
    background-color: #58ebff;
    cursor: pointer;
  }
  .selected{
    transition: 0.4s;
    background-color: #31cce0;
  }
  
   
}





/*main Related*/



#list_title{
  margin: 0.5rem;
  text-align: center;
}

.book_list_area {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;

  .card {
    line-height: 2;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      text-align:  left;
      margin: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.4s;
      border-radius: 5px;
      height: 90%;

      display: flex;
      flex-direction: column;

      img {
          width: 100%;
          height: 100%;
          aspect-ratio: 16/9;
          margin-bottom: 1rem;
          flex: 1;
      }

      p {
          width: 100%;
          text-align: justify;
      }

      label{
        font-weight: bolder;
      }
  }

  .card:hover {
      box-shadow: 0 28px 36px 0 rgba(22, 3, 3, 0.2);
  }
  
}

.bookButtons{
  display: flex;
  flex-direction: column;
  margin:0.5rem;
  gap: 0.5rem;
  
}

.bookButton{
  border-radius: 10px;
  color: white;
  padding:0.5rem; 
}

#updateButton,#accept{
  transition: 0.4s;
  background-color: #08519C;
  
}

#updateButton:hover,#accept:hover{
  transition: 0.4s;
  background-color: #007bff;
  cursor: pointer;

}

#deleteButton,#reject{
  transition: 0.4s;
  background-color: #e42c2c;
  
}

#deleteButton:hover,#reject:hover{
  transition: 0.4s;
  background-color: #ff5656;
  cursor: pointer;

}



.hidden {
  display: none;
}

#updateBookForm {
  transition: 0.4s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other content */
  border-radius: 8px;
  input,select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

}


#update {
  transition: 0.4s;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}



#update:hover {
  transition: 0.4s;
  background-color: #0099ff;
}


#cancel {
  transition: 0.4s;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #e42c2c;
  color: white;
  border: none;
  border-radius: 5px;
}


#cancel:hover {
  transition: 0.4s;
  background-color: #ff5656;
}

footer{
  margin-top: 2rem;
}

  
  /*handlig diffrent screen sizes here*/
  @media screen and (min-width: 600px) {
    .salesType{
      flex-direction: row;
    }
  }